body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 100px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 600px;
    padding: 0;
}

nav li {
    margin-right: 40px;
}

nav li a:hover{
    color: red;
}

a{
    color: white;
}

.hero {
    background-image: url('carous3.jpeg');
    background-size: cover;
    height: 300px;
    text-align: center;
    padding: 150px;
    color: #fff;
}

.hero h1 {
    font-size: 36px;
}

.products {
    background-color: #abb4b4c4;
    padding: 30px;
    border-top: 3px solid #403131;
    border-bottom: 3px solid #403131;
}

.products h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.products ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.products li {
    margin-bottom: 10px;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: #040404;
}

.products img{
    float: right;
    width: 500px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a:hover{
    color: red;
}

.social-icons a {
    color: white;
    margin-right: 20px;
}